<h1>Rate my cakes</h1>

<form (submit)="submitCakeAddition()" class='cakeSubmission'>
    <h3>Submit a cake to be rated</h3>
    <p> {{ newCake | json }} </p>
    <table>
        <tr>
            <td><label for="bakerName">Baker Name</label></td>
            <td><input type="text" name="bakerName" [(ngModel)]="newCake.bakerName" /></td>
        </tr>
        <tr>
            <td><label for="imageURL">Image URL</label></td>
            <td><input type="text" name="imageURL" [(ngModel)]="newCake.imageURL" /></td>
        </tr>
    </table>
    <input type="submit" value="Submit" />
</form>

<div class='cakesDisplay'>
    <span *ngFor="let cake of cakes">
        <div>
            <!-- <p>{{ cake.bakerName }} </p> -->
            <div class='cakeBox'>
                <a (click)="showCake(cake)"><img src="{{ cake.imageURL }}" class='customImage'></a>
            </div>
            <form (submit)="submitRatingAddition(cake._id)" class='cakeRating'>
                <table>
                    <tr>
                        <td>
                            <select name="numberOfStars" [(ngModel)]="newRating.numberOfStars">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><textarea rows="3" cols="25" name='comment' [(ngModel)]="newRating.comment">Type your comment here</textarea></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Rate!" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </span>
</div>

<div *ngIf="cakeIsSelected">
    <app-cake [cakeToShow]="selectedCake"></app-cake>
</div>

<router-outlet></router-outlet>